{% extends 'home.html' %}

{% block title %}Calculator - {% endblock title %}

{% block calculator %}

    <div class="container">
        <h2 class="function-type">{{ func_mode|capitalize }} Function</h2>

        <form class="calculator-input-container" id="coefficient_form" method="POST">
            {% if func_mode == "linear" %}
                {% set coefficients = ['coefficient_a', 'coefficient_b'] %}
                {% set labels = ['x', 'Constant'] %}
            {% elif func_mode == "quadratic" %}
                {% set coefficients = ['coefficient_a', 'coefficient_b', 'coefficient_c'] %}
                {% set labels = ['x<sup>2</sup>', 'x', 'Constant'] %}
            {% elif func_mode == "cubic" %}
                {% set coefficients = ['coefficient_a', 'coefficient_b', 'coefficient_c', 'coefficient_d'] %}
                {% set labels = ['x<sup>3</sup>', 'x<sup>2</sup>', 'x', 'Constant'] %}
            {% endif %}

            {% set inputs_count = coefficients | length %}

            <div class="input-group">
                {% for i in range(inputs_count) %}
                    <div class="label-group">
                        <input type="number" name="{{ coefficients[i] }}"><br>
                        <label for="{{ coefficients[i] }}">{{ labels[i] | safe }}</label>
                    </div>
                {% endfor %}
            </div>
              
            <div class="button-group">
                <input class="button" type="submit" value="OK">
                <input class="button" type="button" onclick="reset()" value="Reset">
            </div>
        </form>
    </div>


    <script>
        function reset() {
            document.getElementById("coefficient_form").reset();
        }
    </script>

{% endblock calculator %}

{% block result %}


    {% if func_detail %}
        <script>
            function updateAllFunctionOptions() {
                const allFuncData = {};
                func_detail = JSON.parse('{{ func_detail|tojson }}');
                
                Object.entries(func_detail).forEach(([func, _]) => {
                    const showFunc = document.getElementById(`${func}_show`).checked;
                    const markerFunc = document.getElementById(`${func}_marker`).checked;
                    const colorFunc = document.getElementById(`${func}_color`).value;
                
                    allFuncData[func] = {
                        show: showFunc,
                        marker: markerFunc,
                        color: colorFunc
                    };
                    document.getElementById(`${func}_color_symbol`).style.backgroundColor = colorFunc;
                });

                fetch('/{{ func_mode }}', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(allFuncData)
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log('All function options updated successfully');
                    // console.log(data)
                    // Perform any view updates here if needed
                    // For example, update elements on the page displaying the function options
                    document.getElementById('graph').src = 'data:image/png;base64, ' + data.image;
                })
                .catch(error => {
                    console.error('Error updating function options:', error);
                });
            };

            function clearQuery() {
                fetch('/{{ func_mode }}', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok.');
                    }
                    console.log('All queried functions are deleted');
                    window.location.reload(); // refresh the page to reload views
                })
                .catch(error => {
                    console.error('Error deleting queried functions', error);
                });
            }
        </script>

        <div class="container">
            <div class="flex-container">
                <div class="left-content">
                    <div class="scrollable-div">
                        {% for func, detail in func_detail.items() %}
                            <div class="function-detail">
                                <div class="func-expr-container">
                                    <div class="color-symbol" style="background-color: {{ func_information[func]['color'] }};" id="{{ func }}_color_symbol"></div>
                                    <h3>{{ detail['expr']|safe }}</h3>
                                </div>
                                <br>
                                <div class="func-opt-container">
                                    <input class="custom-checkbox" type="checkbox" id="{{ func }}_show" name="{{ func }}_show" {% if func_information[func]['show'] %} checked {% endif %}>
                                    <label class="checkbox-label" for="{{ func }}_show">Show</label>
                                    <input class="custom-checkbox" type="checkbox" id="{{ func }}_marker" name="{{ func }}_marker" {% if func_information[func]['marker'] %} checked {% endif %}>
                                    <label class="checkbox-label" for="{{ func }}_marker">Marker</label>
                                    <select class="opt-dropdown" id="{{ func }}_color">
                                        <option value="red" {% if func_information[func]['color'] == 'red' %} selected {% endif %}>Red</option>
                                        <option value="blue" {% if func_information[func]['color'] == 'blue' %} selected {% endif %}>Blue</option>
                                        <option value="green" {% if func_information[func]['color'] == 'green' %} selected {% endif %}>Green</option>
                                        <!-- Add more color options as needed -->
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="button-group">
                        <button class="button" onclick="updateAllFunctionOptions()">Update All Functions</button>
                        <button class="button" onclick="clearQuery()">Clear Query</button>
                    </div>
                </div>
                <div class="right-content">
                    <div class="flex-container right-content">
                        <img src='data:image/png;base64,{{ graph }}' alt="Graph cannot be displayed" id="graph"/>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock result %}
