{% extends 'home.html' %}

{% block title %}Calculator - {% endblock title %}

{% block calculator %}

{% if func_mode == "linear" %}

        <div class="container">
            <h2 class="function-type">Linear Function</h2>
            
            <form class="calculator-input-container" id="coefficient_form" method="POST">
                <div class="input-group">
                    <div class="label-group">
                        <input type="number" name="coefficient_a" required>
                        <label for="coefficient_a">x</label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_b" required>
                        <label for="coefficient_b">Constant</label>
                    </div>
                </div>
            
                <div class="button-group">
                    <input class="button" type="submit" value="OK">
                    <input class="reset" type="button" onclick="reset()" value="Reset">
                </div>
            </form>
        </div>


    {% elif func_mode == "quadratic" %}

        <div class="container">
            <h2 class="function-type">Quadratic Function</h2>
            
            <form class="calculator-input-container" id="coefficient_form" method="POST">
                <div class="input-group">
                    <div class="label-group">
                        <input type="number" name="coefficient_a" required>
                        <label for="coefficient_a">x<sup>2</sup></label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_b" required>
                        <label for="coefficient_b">x</label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_c" required>
                        <label for="coefficient_c">Constant</label>
                    </div>
                </div>
            
                <div class="button-group">
                    <input class="button" type="submit" value="OK">
                    <input class="reset" type="button" onclick="reset()" value="Reset">
                </div>
            </form>
        </div>

    {% elif func_mode == "cubic" %}

        <div class="container">
            <h2 class="function-type">Cubic Function</h2>
            
            <form class="calculator-input-container" id="coefficient_form" method="POST">
                <div class="input-group">
                    <div class="label-group">
                        <input type="number" name="coefficient_a" required>
                        <label for="coefficient_a">x<sup>3</sup></label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_b" required>
                        <label for="coefficient_b">x<sup>2</sup></label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_c" required>
                        <label for="coefficient_c">x</label>
                    </div>
                    <div class="label-group">
                        <input type="number" name="coefficient_d" required>
                        <label for="coefficient_d">Constant</label>
                    </div>
                </div>
            
                <div class="button-group">
                    <input class="button" type="submit" value="OK">
                    <input class="reset" type="button" onclick="reset()" value="Reset">
                </div>
            </form>
        </div>

    {% endif %}



    <script>
        function reset() {
            document.getElementById("coefficient_form").reset();
        }
    </script>

{% endblock calculator %}

{% block result %}


    {% if func_detail %}
        <script>
            function updateAllFunctionOptions() {
                const allFuncData = {};
                func_detail = JSON.parse('{{ func_detail|tojson }}');
                
                Object.entries(func_detail).forEach(([func, _]) => {
                    const showFunc = document.getElementById(`${func}_show`).checked;
                    const markerFunc = document.getElementById(`${func}_marker`).checked;
                    const colorFunc = document.getElementById(`${func}_color`).value;
                
                    allFuncData[func] = {
                        show: showFunc,
                        marker: markerFunc,
                        color: colorFunc
                    };
                    document.getElementById(`${func}_color_symbol`).style.backgroundColor = colorFunc;
                });

                fetch('/{{ func_mode }}', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(allFuncData)
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log('All function options updated successfully');
                    // console.log(data)
                    // Perform any view updates here if needed
                    // For example, update elements on the page displaying the function options
                    document.getElementById('graph').src = 'data:image/png;base64, ' + data.image;
                })
                .catch(error => {
                    console.error('Error updating function options:', error);
                });
            };

            function clearQuery() {
                fetch('/{{ func_mode }}', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok.');
                    }
                    console.log('All queried functions are deleted');
                    window.location.reload(); // refresh the page to reload views
                })
                .catch(error => {
                    console.error('Error deleting queried functions', error);
                });
            }
        </script>

        <div style="display: flex;">
            <div style="overflow-y: scroll; max-height: 300px; width: 50%;">
                {% for func, detail in func_detail.items() %}
                    <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px; box-shadow: 2px 2px 5px #888;">
                        <div style="display: inline-block; margin-right: 10px;">
                            <div style="width: 20px; height: 20px; border-radius: 50%; background-color: {{ func_information[func]['color'] }};" id="{{ func }}_color_symbol"></div>
                        </div>
                        <h3 style="display: inline-block;">{{ detail['expr']|safe }}</h3>
                        <br>
                        <input type="checkbox" id="{{ func }}_show" name="{{ func }}_show" {% if func_information[func]['show'] %} checked {% endif %}>
                        <label for="{{ func }}_show">Show</label>
                        <input type="checkbox" id="{{ func }}_marker" name="{{ func }}_marker" {% if func_information[func]['marker'] %} checked {% endif %}>
                        <label for="{{ func }}_marker">Marker</label>
                        <select id="{{ func }}_color">
                            <option value="red" {% if func_information[func]['color'] == 'red' %} selected {% endif %}>Red</option>
                            <option value="blue" {% if func_information[func]['color'] == 'blue' %} selected {% endif %}>Blue</option>
                            <option value="green" {% if func_information[func]['color'] == 'green' %} selected {% endif %}>Green</option>
                            <!-- Add more color options as needed -->
                        </select>
                    </div>
                {% endfor %}
            </div>
            <div style="width: 50%;">
                <img src='data:image/png;base64,{{ graph }}' alt="Graph cannot be displayed" id="graph"/>
            </div>
        </div>
        <button onclick="updateAllFunctionOptions()">Update All Functions</button>
        <button onclick="clearQuery()">Clear Query</button>
    {% endif %}

{% endblock result %}
