<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Kalkulus Web App</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/calculator-style.css') }} ">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href=" {{ url_for('hello') }} ">Home</a>
            <li class="nav-item"><a class="nav-link"
                    href=" {{ url_for('handle_functions', function_type='linear') }} ">Linear</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                    href=" {{ url_for('handle_functions', function_type='quadratic') }} ">Quadratic</a></li>
            <li class="nav-item"><a class="nav-link"
                    href=" {{ url_for('handle_functions', function_type='cubic') }} ">Cubic</a></li>
        </ul>
    </nav>
    <br>
    {% block calculator %}
    {% endblock calculator %}
    {% block result %}
    {% endblock result %}

</body>

</html>