<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Kalkulus Web App</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/calculator-style.css') }} ">
</head>

<body>
    <header>
        <nav>
            <ul>
                <a href=" {{ url_for('handle_functions', function_type='linear') }} ">Linear</a>
                <a href=" {{ url_for('handle_functions', function_type='quadratic') }} ">Quadratic</a>
                <a href=" {{ url_for('handle_functions', function_type='cubic') }} ">Cubic</a>
            </ul>
        </nav>
    </header>
    <br>
    {% block calculator %}
    {% endblock calculator %}
    {% block result %}
    {% endblock result %}

</body>

</html>