<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulus Web App</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <a href=" {{ url_for('linear') }} ">Linear</a>
                <a href=" {{ url_for('quadratic') }} ">Quadratic</a>
            </ul>
        </nav>
    </header>
    <br>
    {% block calculator %}
    {% endblock calculator %}
    {% block result %}
    {% endblock result %}

</body>

</html>